* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}
body{
  
  min-height: 100vh;
  
}
.container{
  display: flex;
  align-items: center;
}
.leftArea{
  min-height: 100vh;
  width: 40%;
  background-image: url('images/bg-main-desktop.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cards{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translate(50%, 50%);
  align-items: center;
}
.cardFront{
  position: relative;
  right: 20%;
}

.cardLogo{
  position: absolute;
  bottom: 170px; 
  left: 32px;
}
.cardNumberText{
  position: absolute;
  bottom: 70px; 
  left: 32px;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  letter-spacing: 2px;
}
.textContainer{
  display: flex;
  position: absolute;
  bottom: 32px; 
  left: 32px;
  justify-content: space-between; 
  width: 85%;
}
.cardholdernameText, .dateText{
  color: hsl(0, 0%, 100%);
  font-size: 15px; 
  letter-spacing: 2px;
  text-transform: uppercase;
}
.dateText{
  display: flex;
}
.cardBack{
  position: relative;
}
.cvcText{
  position: absolute;
  bottom: 119px; 
  left: 355px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  letter-spacing: 2px;
}
.rightArea{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.detailsContainer{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
}
.cardholdername-item1{
  grid-column: span 2;
  grid-row: 1;
}
.cardnumber-item2{
  grid-column: span 2;
  grid-row: 2;
}
.cvc-item4{
  grid-column: 2;
  grid-row: 3;
}
.confirmButton-item5{
  grid-column: span 2;
  grid-row: 4;
}
.confirmButton, .continueButton{
  grid-column: span 2;
  background-color: hsl(278, 68%, 11%);
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  height: 50px;
  font-size: 18px;
}
.detailsTitle{
  font-size: 13px;
  letter-spacing: 2px;
  color: hsl(278, 68%, 11%);
  margin-bottom: 8px;
}
.inputBar{
  height: 50px;
  border-radius: 6px;
  border: 1px solid hsl(270, 3%, 87%);
  font-size: 17px;
  padding-left: 15px;
  width: 100%;
  color: hsl(278, 68%, 11%);
}
.inputBar:focus{
  border: 1px solid hsl(278, 68%, 11%);
  outline: none;
}
::placeholder {
  color: hsl(270, 2%, 77%);
  opacity: 1; /* Firefox */
}
#MM {
  width: 85px;
}
#YY{
  width: 85px;
  margin-left: 5px;
}
.hidden {
  display: none; 
}
.blankText {
  font-size: 13px;
  color: hsl(0, 100%, 66%); 
}
.InputBarRedBorder {
  border: 1px solid hsl(0, 100%, 66%);
}
.completeScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.thankyouText{
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 35px;
  margin-bottom: 20px;
  color: hsl(278, 68%, 11%);
}
.completeScreenDescription{
  color: hsl(0, 0%, 52%);
  font-size: 17px;
  margin-bottom: 50px;
}