* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}
body{
  
  min-height: 100vh;
  
}
.container{
  display: flex;
  align-items: center;
}
.leftArea{
  min-height: 100vh;
  width: 40%;
  background-image: url('images/bg-main-desktop.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cards{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translate(50%, 50%);
  align-items: center;
}
.cardFront{
  position: relative;
  right: 20%;
}
.cardFront img{
  overflow-clip-margin: content-box;
    overflow: clip;
}
.rightArea{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.detailsContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}


